*{
	font-style: bold;
	font color: black;
	h1{
		font-family: "roboto";
		display: flex;
	}
	  box-sizing: border-box;
}
body {
	box-sizing: border-box;
 
  margin: 0;
  font-family: Arial;
}

.text { color: black; }

.wrapper {
  display: flex;
  justify-content: center;
}

.content {
	box-sizing: border-box;
	float: left;
}

.listings {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 30px;
}


.item {
	box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  float: left;
  width: 30%;
  padding: 30px;
  padding-left: 1px;
  padding-right:1px ;
  margin: 0.5em;
  height: 1200px;
  background-color: orange;
  border: 1px solid black;
  margin: 15px;
} 

.sub-item{
	box-sizing: border-box;
	 float: left;
	background-color: #00ffff;
	height: auto;
	padding: 50px;
	width:50%;
}

.buttons{
	position: relative;
		float: right;
	text-align: center;
}
.buttons button{
		position: sticky;
	background-color: green;
	border: 2px solid black;
	color: darkred;
	cursor: pointer;
	float: left;
	display: flex;
	height: 40px;
	width: 150px;
	padding: 10px 30px;
	text-align: center;
	
}
.buttons button:hover{
	background-color: orange;
	color: black;
	transform: scale(1.1);
	border: 2px solid black;

}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
  .content, .listings, .items{
  	flex: 100%;
  }
}


