*{
	font-style: bold;
	font color: black;

	  box-sizing: border-box;
}
body {
	box-sizing: border-box;
 
  margin: 0;
  font-family: Arial;
}

.text { 
	color: black;
	justify-content: center;
	}

.wrapper {
  
  justify-content: center;
  /*background-color: red;*/

}

.content {
	/*background-color: yellow;*/
	box-sizing: border-box;
	display: flex;	
	padding: 0.5em 0.5em;
	margin: 50px;
}

.listings {
  /*background-color: brown;*/
  display: flex;
  margin: 10px 20px;
  width: 33.33%;
}


.item {
	box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  float: left;
  width: 90%;
  padding: 10px 10px;
 
  margin: 0.5em;
  height: 800px;
  background-color: orange;
  border: 1px solid black;
  margin: 15px;
} 

.sub-item{
	box-sizing: border-box;
	float: left;
	justify-content: space-between;
	background-color: #00ffff;
	height: auto;
	padding: 20px;
	margin: 5px;
	width:80%;
}

.button{
	overflow: hidden;
	position: sticky;
	bottom: 0px;
padding: 0px 40px;
}

div .btn{
	position: relative;
	text-decoration: none;
	background-color: green;
	color: white;
	border: 2px solid black;
	cursor: pointer;
	float: right;
	display: flex;
	height: 40px;
	width: 150px;
	padding: 10px 30px;

}
.btn:hover{
	background-color: orange;
	color: black;
	transform: scale(1.1);
	border: 2px solid black;

}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
  .content, .listings,.item,.sub-item,.s1{
  flex: 100%;
  flex-direction: column;

  }
}


/*  My----------------------------*/

*{
	font-style: bold;
	font color: black;
	h1{
		font-family: "roboto";
		display: flex;
	}
	  box-sizing: border-box;
}
body {
	box-sizing: border-box;
 
  margin: 0;
  font-family: Arial;
}

.text { color: black; }

.wrapper {
  display: flex;
  justify-content: center;
}

.content {
	box-sizing: border-box;
	float: left;
}

.listings {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 30px;
}


.item {
	box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  float: left;
  width: 30%;
  padding: 30px;
  padding-left: 1px;
  padding-right:1px ;
  margin: 0.5em;
  height: 1200px;
  background-color: orange;
  border: 1px solid black;
  margin: 15px;
} 

.sub-item{
	box-sizing: border-box;
	float: left;
	justify-content: space-between;
	background-color: #00ffff;
	height: auto;
	padding: 50px;
	width:50%;
}

.s1{
	height: auto;
}

.buttons{
	position: relative;
		float: right;
	text-align: center;
}
.buttons button{
		position: sticky;
	background-color: green;
	border: 2px solid black;
	color: darkred;
	cursor: pointer;
	float: left;
	display: flex;
	height: 40px;
	width: 150px;
	padding: 10px 30px;
	text-align: center;
	
}
.buttons button:hover{
	background-color: orange;
	color: black;
	transform: scale(1.1);
	border: 2px solid black;

}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
  .content, .listings,.item,.sub-item,.s1{
  flex: 100%;
  flex-direction: column;

  }
}


